.flex-container{
    display: flex;
    flex-direction: row;
    background: darkgrey;
    height: 100vh;
}
.contact-page{
    width: 350px;
    background: rgba(27, 52, 97, 0.849);
    text-align: center;
}
.contact-area{
    background: white;
    width: 100%;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;
}
img{
    width: 150px;
    border-radius: 100%;
    margin-top: 30px;
    margin-bottom: 25px;
}